@page
@model MyApp.Namespace.CreateModel
@{
}

<div class="container">
    <form action="" method="post">
        <label asp-for="Familia.Nombre">Nombre</label>
        <input type="text" asp-for="Familia.Nombre" class="form-control">
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>
